@import '_common';

div.wrapper
{
	font-family: 'Avenir LT Std 35 Light' !important;
	background-color: transparent;
	
	div.header
	{
		position: relative;
		z-index: 250;

		a
		{
			font-family: 'Avenir LT Std 35 Light Oblique' !important;
			color: inherit;
			//font-weight: 700;
			text-decoration: none;
	  		font-size: 13px;
		}

		div.top
		{
			position: relative;
			z-index: 10;
			background-color: #474948;
			height: 32px;
			font-size: 12px;
			line-height: 32px;
			color: #ffffff;

			p, ul
			{
				margin-bottom: 0;
			}

			a
			{
				&:hover
				{
					color: #1abc9c;
					text-decoration: none;
					color: #c7c8c8;
				}

				font-size: 12px;
				color: inherit;
				text-decoration: none;
				color: #ffffff;
			}
		}

		div.bottom
		{
			&:before
			{
				content: '';
				display: block;
			}

			&:after
			{
				content: '';
				display: table;
				clear: both;
			}
			background-color: #ffffff;
			padding: 0;
			-webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
			-moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
			box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);

			div.container
			{
				div.row
				{
					position: relative;

					div.col-md-3
					{
						@media screen and (min-width: 992px)
						{
							float: right;
							margin-right: 60px;
						}
					}
				}
			}
		}

		div.logo
		{
			padding: 10px 0;
			@media (max-width: 767px)
			{
				width: auto;
				float: none;
				margin: 0;
			}

			a
			{
				display: inline-block;
				height: 60px;
				text-decoration: none;
				@media (max-width: 767px)
				{
				    text-align: center;
				}

			}

			img
			{
				max-height: 100%;
			}
		}
	}
}


div.search
{
	padding: 25px 0;
	@media (max-width: 767px)
	{
    	padding: 20px 0;
	}

	.qs_s
	{
 		position: relative;

 		#query
 		{
 			&:focus
 			{
				background-color: #f6f6f6;
				-webkit-box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
				-moz-box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
				box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
				/*color: @arguments;*/
			}

			background-color: #f0f0f0;
			border-color: #d7d7d7;
			padding: 4px 14px !important;
			margin-bottom: 0;
			width: 100%;
			height: 30px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-border-radius: 9999px;
			-webkit-background-clip: padding-box;
			-moz-border-radius: 9999px;
			-moz-background-clip: padding;
			border-radius: 9999px;
			background-clip: padding-box;
			-webkit-box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
			-moz-box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
			box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
			/*color: @arguments;*/
		}

		#autocomplete-results
		{
			position: absolute;
			width: 100%;

			ul
			{
				&:before
				{
					content: "";
					display: block;
					width: 26px;
					height: 14px;
					position: absolute;
					left: 50%;
					top: -14px;
					margin-left: -13px;
					background-image: url('../images/triangle.png');
					z-index: 100;
				}

				margin: 6px 0 0;
				background-color: #ffffff;
				border-left: 5px solid #1abc9c;
				position: relative;
				-webkit-border-radius: 2px;
				-webkit-background-clip: padding-box;
				-moz-border-radius: 2px;
				-moz-background-clip: padding;
				border-radius: 2px;
				background-clip: padding-box;
				-webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.5);
				-moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.5);
				box-shadow: 0 1px 2px rgba(71, 73, 72, 0.5);
				/*color: @arguments;*/

				li
				{
					&:first-child
					{
						border-top: none;
					}

					list-style: none;
					border-top: 1px solid #f0f0f0;

					&.active a
					{
						text-decoration: none;
						background-color: #1abc9c;

						h6
						{
							font-weight: 700;
							color: #ffffff;
						}
					}
				}

			 	a
			 	{
			 		&:hover
			 		{
						background-color: #f0f0f0;
					}

					display: block;
					padding: 10px;
					color: inherit;
					text-decoration: none;

					div.image
					{
						width: 30px;
						height: 30px;
						overflow: hidden;
						float: left;
						margin-right: 10px;

						img 
						{
							display: block;
						}
					}

					h6
					{
						line-height: 30px;
						font-size: 12px;
						margin: 0;
						font-weight: 400;
					}
				}
			}
		}
 	}
}

div.mini-cart
{
	position: absolute;
	top: 20px;
	right: 15px;
	
	a
	{
		display: block;
		line-height: 40px;
		float: right;
		height: 40px;
		width: 40px;
		background: url('../images/cart.png') no-repeat left center;
		position: relative;
		
		& > span
		{
			display: inline-block;
			width: 20px;
			height: 20px;
			line-height: 20px;
			font-size: 11px;
			text-align: center;
			background-color: #1abc9c;
			color: #ffffff;
			position: absolute;
			top: 0;
			right: 0px;
			-webkit-border-radius: 12px;
			-webkit-background-clip: padding-box;
			-moz-border-radius: 12px;
			-moz-background-clip: padding;
			border-radius: 12px;
		background-clip: padding-box;
		}
	}
}
/*---
| NAVIGATION
---*/
nav.navigation
{
	background-color: #fbfbf9;
	position: relative;
	z-index: 240;
	-webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.09999999999999998);
	-moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.09999999999999998);
	box-shadow: 0 1px 2px rgba(71, 73, 72, 0.09999999999999998);
	/*color: @arguments;*/
}

ul.main-menu
{
	&:before
	{
	  content: '';
	  display: block;
	}

	&:after {
	  content: '';
	  display: table;
	  clear: both;
	}
	margin: 0;
	padding: 0;
	height: auto;
	/*zoom: 1;*/
	
	li
	{
		&::hover > a
		{
			background-color: #1abc9c;
			color: #ffffff;
		}
		
  		list-style: none;
		position: relative;

		ul
		{
			display: none;
			position: absolute;
			border-top: 5px solid #1abc9c;
			background-color: #ffffff;
			/*overflow: hidden;*/
			margin: 0;
			-webkit-border-radius: 2px;
			-webkit-background-clip: padding-box;
			-moz-border-radius: 2px;
			-moz-background-clip: padding;
			border-radius: 2px;
			background-clip: padding-box;
			-webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
			-moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
			box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
			/*color: @arguments;*/
			z-index: 1000;
			min-width: 200px;

			li
			{
				a
				{
					padding: 15px 20px;
					border-top: 1px solid #f0f0f0;
					color: #474948;
				}

				&.menu-item-has-children > a:before
				{
					font-family: fontAwesome;
					content: "\f0da";
					float: right;
					color: #474948;
				}

				&:first-child a
				{
					border-top: none;
				}

				ul
				{
					left: 190px;
					top: 10px;
				}
			}
		}
	}

	a
	{
		text-decoration: none;
		font-size: 12px;
		display: block;
	}
}